.login-form-container {
  width: 80%;
  /* max-width: 450px; */
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 40px 30px; /* Increase padding for a more spacious look */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spread elements vertically */
  min-height: 70vh; /* Ensure the container is taller */
}

.login-form-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.login-form-container p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px; /* Increase spacing after the description */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Increase gap between inputs */
  flex-grow: 1; /* Allow the form to grow and take space */
  justify-content: center; /* Center the form inputs vertically */
}

.login-input-group input {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.login-input-group input:focus {
  border-color: #d08411; /* Match focus color with button */
  outline: none;
  box-shadow: 0 0 5px rgba(208, 132, 17, 0.3);
}

.login-button {
  padding: 12px;
  background-color: #d08411;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 20px; /* Add margin for better spacing */
}

.login-button:hover {
  background-color: #b96f0d;
}

.google-login-button {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 15px; /* Add margin for better spacing */
}

.google-login-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.google-login-button img {
  width: 20px;
  height: 20px;
}

.login-error {
  color: #ff0000;
  margin-bottom: 15px; /* Increase space between error and inputs */
}
