/* StockMarketContainer.css */
.stockmarket-container {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh; /* Ensure it takes full viewport height */
  }
  
  .stockmarket-container .row {
    margin-bottom: 20px;
  }
  
  .stockmarket-container p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
  }
  